<app-nav-bar>
    <ng-container>
        <h2>Cadastrar Novo Funcionário</h2>

        <form [formGroup]="formFuncionario">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input type="text" name="nome" matInput formControlName="nome">
                <mat-error *ngIf="formFuncionario.get('nome')?.getError('required')">
                    O campo nome é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>CPF</mat-label>
                <input type="text" name="cpf" matInput formControlName="cpf">
                <mat-error *ngIf="formFuncionario.get('cpf')?.getError('maxlength')">
                    É obrigatório no máximo 11 caracteres
                </mat-error>
                <mat-error *ngIf="formFuncionario.get('cpf')?.getError('minlength')">
                    É obrigatório no mínimo 11 caracteres
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input type="email" name="email" matInput formControlName="email">
                <mat-error *ngIf="formFuncionario.get('email')?.getError('required')">
                    O campo email é obrigatório
                </mat-error>
                <mat-error *ngIf="formFuncionario.get('email')?.getError('email')">
                    Email inválido
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <input type="password" name="senha" matInput formControlName="senha">
                <mat-error *ngIf="formFuncionario.get('senha')?.getError('required')">
                    O campo senha é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Perfil</mat-label>
                <mat-select name="perfil" value="Selecione um perfil" formControlName="perfil">
                    <mat-option disabled>Selecione um perfil</mat-option>
                    <mat-option *ngFor="let perfil of perfils" [value]="perfil">{{perfil}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formFuncionario.get('perfil')?.getError('required')">
                    O campo senha é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Cargos</mat-label>
                <mat-select name="cargo" value="Selecione um cargo" formControlName="cargo">
                    <mat-option disabled>Selecione um cargo</mat-option>
                    <mat-option *ngFor="let cargo of cargos" [value]="cargo">{{cargo.nome}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formFuncionario.get('cargo')?.getError('required')">
                    O campo senha é obrigatório
                </mat-error>
            </mat-form-field>
            <div class="full-width input-file">
                <label for="foto">Selecione uma foto: </label>
                <input type="file" (change)="uploadFile($event)" required>
                <mat-progress-bar mode="indeterminate" *ngIf="isLoadUpload"></mat-progress-bar>
            </div>


            <button type="submit" mat-raised-button color="primary" (click)="create()"
                routerLink="/funcionarios">Cadastrar</button>
            <a type="button" mat-raised-button color="warn" routerLink="/funcionarios">Cancelar</a>
        </form>

    </ng-container>
</app-nav-bar>