<app-nav-bar>
    <ng-container>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./../../../../assets/1.png" class="d-block w-100" alt="banner-1">
              </div>
              <div class="carousel-item">
                <img src="./../../../../assets/3.png" class="d-block w-100" alt="banner-2">
              </div>
              <div class="carousel-item">
                <img src="./../../../../assets/5.png" class="d-block w-100" alt="banner-3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>
          <br>
        <p>O Helpr permite que as empresas implementem de forma rápida e fácil o atendimento de backup como um benefício de maneira equitativa.</p>
    
        <p>Ao abordar as lacunas no atendimento, podemos ajudar sua empresa a resolver o atrito, aumentar a produtividade e melhorar a satisfação dos funcionários.</p>
    </ng-container>
</app-nav-bar>

