form a,
form button {
    margin-left: 20px;
    float: right;
}

.section {
    margin-bottom: 20px;
}

.margin {
    margin-right: 15px;
}

.loading-spinner {
    padding: 25px;
    display:flex;
    align-items: center;
    justify-content: center;

}